*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  width: 100%;
  background-color: white;
  color: black;
  max-width: 1700px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* header */

header div img{
  width: 150px;
  height: 100px;
  cursor: pointer;
  margin-top: -20px;
}

header{
  margin-right: 10px;
  z-index: 1;
  margin-left: 50px;
  justify-content: space-between;
  position: absolute;
  display: flex;
}

header a{
  line-height: 30px;
  padding: 0 15px;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  color: rgb(34,34,34);
}

.header-links{
  margin-left: 200px;
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 5;
  margin-top: 10px;
}

.header-links a:nth-child(6){
  padding-right: 180px;
}

.hover{
  background-color: rgba(128, 128, 128, 0.15);
  position: absolute;
  z-index: -1;
  display: inline-block;
  opacity: 0;
  height: 30px;
  border-radius: 10px;
  transition: all 0.5s;
}

.header-links a:nth-child(1):hover ~ .hover{
   opacity: 1;
   left: 0;
   width: 85px;
}

.header-links a:nth-child(2):hover ~ .hover{
  opacity: 1;
  left: 90px;
  width: 85px;
}

.header-links a:nth-child(3):hover ~ .hover{
  opacity: 1;
  left: 175px;
  width: 85px;
}

.header-links a:nth-child(4):hover ~ .hover{
  opacity: 1;
  left: 260px;
  width: 85px;
}

.header-links a:nth-child(5):hover ~ .hover{
  opacity: 1;
  left: 352px;
  width: 90px;
}

.header-links a:nth-child(6):hover ~ .hover{
  opacity: 1;
  left: 450px;
  width: 100px;
}

.header-links a:nth-child(7):hover ~ .hover{
  opacity: 1;
  left: 725px;
  width: 60px;
}

.header-links a:nth-child(8):hover ~ .hover{
  opacity: 1;
  left: 790px;
  width: 85px;
}

.header-links a:nth-child(9):hover ~ .hover{
  opacity: 1;
  left: 880px;
  width: 60px;
}

.header-main-1{
  display: flex;
  overflow: auto;
  flex: none;
  width: 100%;
  height: 100vh;
  flex-flow: column nowrap;
  scroll-snap-type: y mandatory;
}

.header-main-1 > div{
  text-align: center;
  scroll-snap-align: center;
  flex: none;
  width: 100%;
  height: 100%;
}

.header-main-1 div img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.header-main-2{
  position: relative;
  overflow-y: hidden;
}

.header-head{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  top: 0;
  height: 40vh;
  align-items: center;
}

.header-head h1{
  font-size: 45px;
  font-weight: 500;
  color: rgb(61, 61, 61);
  padding-bottom: 5px;
}

.header-head span{
  color: rgb(53, 53, 53);
  font-size: 17px;
}

.blur{
  position: absolute;
  width: 100%;
  display: none;
  height: 100vh;
  z-index: 99;
  transition: all 1s;
  backdrop-filter: blur(4px);
  background-color: #393c416e;
}

.blur.active{
  display: block;
}

.hdn-slide{
  position: absolute;
  right: 0;
  width: 310px;
  opacity: 0;
  transform: translateX(390px);
  z-index: 100;
  height: 100%;
  overflow: scroll;
  background-color: white;
}

.hdn-slide.active{
  transform: translateX(0);
  opacity: 1;
}

#mark{
  display: flex;
  justify-content: end;
  padding: 30px;
  background-color: white;
  position: sticky;
  z-index: 100;
  right: 0;
}

#mark .fa-xmark{
  font-size: 25px;
  padding: 8px 10px;
  transition: all 0.5s;
  cursor: pointer;
}

#mark .fa-xmark:hover{
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
}

.hdn-container{
  padding: 5px 30px;
  height: 100%;
}

.hdn-container li{
  padding: 10px 15px;
  font-size: 15px;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 5px;
}

.hdn-container li:hover{
  background-color: rgb(233, 233, 233);
  border-radius: 15px;
}

.header-option{
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
  margin-left: -200px;
}

.header-option div{
  display: inline-block;
  margin-left: 20px;
  padding: 0 30px;
}

.header-option h3{
  font-size: 35px;
  font-weight: 600;
  color: white;
}

.header-option small{
  font-size: 15px;
  font-weight: 600;
  color: white;
}

#header-order{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -55px;
  margin-left: 800px;
}

#header-order span{
  border: 5px solid white;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

#header-order span:hover{
  background-color: white;
  color: black;
}

.header-main-3{
  position: relative;
}

.header-background{
  position: absolute;
  z-index: 100;
  background-color: black;
  width: 100%;
  height: 100vh;
}

.header-interior{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.header-interior h1{
  font-size: 30px;
  font-weight: 600;
  color: white;
  animation: head 2s ease-in;
}

@keyframes head{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-background img{
  position: absolute;
  width: 100%;
  height: 80vh;
  object-fit: cover;
  margin-top: 50px;
  animation: imgs 2s ease-in;
}

@keyframes imgs{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.background{
  position: absolute;
  z-index: 100;
  background-color: black;
  width: 100%;
  height: 160vh;
  margin-top: 640px;
}

.background img{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  object-fit: contain;
  width: 500px;
  height: 500px;
  margin-left: 200px;
  margin-top: 20px;
  animation: img1 3s ease-in;
}

@keyframes img1{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.background h4{
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
  margin-left: 850px;
  margin-top: 200px;
  animation: head1 3s ease-in;
}

@keyframes head1{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.background small{
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
  margin-left: 850px;
  margin-top: 230px;
  width: 300px;
  animation: para 3s ease-in;
}

@keyframes para{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.background-container{
  position: absolute;
  z-index: 100;
  margin-top: 640px;
}

.background-container h4{
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
  margin-left: 200px;
  margin-top: 500px;
  white-space: nowrap;
  animation: head2 3s ease-in;
}

@keyframes head2{
  0%{
    transform: translateY(80px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.background-container small{
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
  margin-left: 200px;
  margin-top: 530px;
  width: 300px;
  animation: para1 3s ease-in;
}

@keyframes para1{
  0%{
    transform: translateY(80px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.background-container img{
  position: absolute;
  display: flex;
  align-items: center;
  width: 500px;
  height: 500px;
  object-fit: contain;
  margin-top: 300px;
  margin-left: 700px;
  animation: video 3s ease-in;
}

@keyframes video{
  0%{
    transform: translateY(80px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.background-images{
  position: absolute;
  z-index: 100;
  margin-top: 1200px;
}

.background-images img{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  object-fit: contain;
  width: 500px;
  height: 500px;
  margin-left: 200px;
  margin-top: 20px;
  animation: img2 3s ease-in;
}

@keyframes img2{
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.background-images h4{
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
  margin-left: 850px;
  white-space: nowrap;
  margin-top: 200px;
  animation: head1 3s ease-in;
}

@keyframes head1{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.background-images small{
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
  margin-left: 850px;
  margin-top: 230px;
  width: 300px;
  animation: para 3s ease-in;
}

@keyframes para{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-main-4{
  position: relative;
}

.header-backgroundimg{
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100vh;
}

.header-backgroundimg img{
  width: 100%;
  height: 70vh;
  object-fit: cover;
  margin-top: 1640px;
  animation: imgs3 3s ease-in;
}

@keyframes imgs3 {
  0%{
    transform: translateY(110px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.heading{
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 600;
  color: white;
  margin-left: 300px;
  margin-top: -150px;
  animation: heading 2s ease-in;
}

@keyframes heading {
  0%{
    transform: translateY(10px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.peak{
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
  margin-left: 320px;
  margin-top: -100px;
  animation: peak 2s ease-in;
}

@keyframes peak{
  0%{
    transform: translateY(10px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.heading1{
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 600;
  color: white;
  margin-left: 650px;
  margin-top: -150px;
  animation: heading1 2s ease-in;
}

@keyframes heading1 {
  0%{
    transform: translateY(30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.peak1{
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
  margin-left: 660px;
  margin-top: -100px;
  animation: peak1 2s ease-in;
}

@keyframes peak1{
  0%{
    transform: translateY(30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.heading2{
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 600;
  color: white;
  margin-left: 900px;
  margin-top: -150px;
  animation: heading2 2s ease-in;
}

@keyframes heading2 {
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.peak2{
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
  margin-left: 910px;
  margin-top: -100px;
  animation: peak2 2s ease-in;
}

@keyframes peak2{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-main-5{
  position: relative;
}

.heading-para{
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  margin-left: 100px;
  margin-top: 2100px;
  width: 100%;
  height: 30vh;
  color: gray;
  animation: heading3 2s ease-in;
}

@keyframes heading3{
  0%{
    transform: translateY(20px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.heading-title{
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  color: black;
  margin-left: 95px;
  margin-top: 2120px;
  animation: title 5s ease-in;
}

@keyframes title{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.heading-order{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2210px;
  margin-left: 100px;
}

.heading-order:hover{
  background-color: black;
}

.heading-order span{
  border: 3px solid #000;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 55px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  animation: shown1 3s ease-in;
}

.heading-order span:hover{
  color: white;
}

@keyframes shown1{
  0%{
    transform: translateY(80px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-info{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2120px;
  margin-left: 500px;
}

.header-info p{
  font-size: 15px;
  font-weight: 400;
  margin-left: 150px;
  width: 550px;
}

.header-main-6{
  position: relative;
}

.header-img2{
  position: absolute;
  z-index: 100;
  width: 100%;
  margin-top: 2800px;
}

.header-img2 img{
  position: relative;
  width: 90%;
  height: 100vh;
  object-fit: contain;
  margin-left: 300px;
  margin-top: -444px;
  animation: img2 5s ease-in;
}

@keyframes img2{
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-content3{
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 2800px;
  margin-left: 560px;
}

.header-content3 h4{
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  color: white;
  margin-top: 37px;
  animation: heading8 5s ease-in;
}

@keyframes heading8{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-content3 small{
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
  width: 250px;
  margin-left: -80px;
  margin-top: 90px;
  animation: title6 5s ease-in;
}

@keyframes title6{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-content4{
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 2800px;
  margin-left: 800px;
}

.header-content4 h4{
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  color: white;
  margin-top: 37px;
  margin-left: -20px;
  white-space: nowrap;
  animation: heading9 5s ease-in;
}

@keyframes heading9{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-content4 small{
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
  width: 250px;
  margin-left: -80px;
  margin-top: 90px;
  animation: title7 5s ease-in;
}

@keyframes title7{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-content5{
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 2800px;
  margin-left: 1000px;
}

.header-content5 h4{
  position: absolute;
  display: flex;
  z-index: 100;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  color: white;
  margin-top: 37px;
  margin-left: 60px;
  white-space: nowrap;
  animation: heading10 5s ease-in;
}

@keyframes heading10{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-content5 small{
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
  width: 250px;
  margin-left: -30px;
  margin-top: 90px;
  animation: title7 5s ease-in;
}

@keyframes title7{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-info2{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4810px;
  margin-left: 840px;
}

.heading-para5{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 600;
  color: gray;
  margin-top: -4900px;
  margin-left: -1540px;
}

.heading-title5{
  position: absolute;
  z-index: 100;
  font-size: 30px;
  font-weight: 600;
  margin-top: -4850px;
  margin-left: -1320px;
  color: black;
}

.heading-text{
  position: relative;
  z-index: 100;
  font-size: 12px;
  font-weight: 600;
  margin-top: -4650px;
  margin-left: -1300px;
  width: 300px;
  color: gray;
  animation: text1 5s ease-in;
}

@keyframes text1{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-order2{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3800px;
  margin-left: -1350px;
  z-index: 100;
}

.header-order2:hover{
  background-color: black;
}

.header-order2 span{
  border: 3px solid #000;
  outline: none;
  z-index: 100;
  background-color: transparent;
  font-size: 16px;
  color: black;
  font-weight: 600;
  padding: 8px 55px;
  height: 40px;
  white-space: nowrap;
  border-radius: 5px;
  cursor: pointer;
  animation: shown2 3s ease-in;
}

.header-order2 span:hover{
  color: white;
}

@keyframes shown2{
  0%{
    transform: translateY(80px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-main-7{
  position: relative;
}

.header-bg{
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 285vh;
  background-color: #000;
  margin-top: 2980px;
}

.header-bg img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
  animation: imgs4 5s ease-in;
}

@keyframes imgs4{
  0%{
    transform: translateY(80px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.heading-para1{
  position: absolute;
  display: block;
  z-index: 100;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-left: 100px;
  margin-top: 50px;
  animation: heading4 5s ease-in;
}

@keyframes heading4{
  0%{
    transform: translateY(90px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.heading-title1{
  position: absolute;
  display: block;
  z-index: 100;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 500;
  color: white;
  margin-left: 100px;
  margin-top: 70px;
  animation: title2 5s ease-in;
}

@keyframes title2{
  0%{
    transform: translateY(90px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-order1{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-left: 100px;
}

.header-order1:hover{
  background-color: white;
}

.header-order1 span{
  border: 3px solid #fff;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  color: white;
  font-weight: 600;
  padding: 8px 55px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  animation: shown1 3s ease-in;
}

.header-order1 span:hover{
  color: black;
}

@keyframes shown1{
  0%{
    transform: translateY(80px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-info1{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-left: 500px;
}

.header-info1 p{
  font-size: 15px;
  font-weight: 400;
  margin-left: 150px;
  width: 550px;
  color: white;
  animation: para 5s ease-in;
}

@keyframes para{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-content{
  position: absolute;
}

.heading-para2{
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-left: 150px;
  margin-top: 400px;
  white-space: nowrap;
  animation: heading5 5s ease-in;
}

@keyframes heading5{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.heading-title2{
  position: absolute;
  display: block;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  justify-content: center;
  margin-left: 150px;
  margin-top: 440px;
  width: 350px;
  animation: title3 5s ease-in;
}

@keyframes title3{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-content img{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  object-fit: contain;
  width: 550px;
  height: 500px;
  margin-left: 700px;
  margin-top: 200px;
  animation: img4 5s ease-in;
}

@keyframes img4{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
.header-content1{
  position: absolute;
}

.header-content1 img{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  object-fit: contain;
  width: 550px;
  height: 500px;
  margin-left: 150px;
  margin-top: 508px;
  animation: img5 5s ease-in;
}

@keyframes img5{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.heading-para3{
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-left: 790px;
  margin-top: 720px;
  white-space: nowrap;
  animation: heading6 5s ease-in;
}

@keyframes heading6{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-content1 .heading-title3{
  position: absolute;
  display: block;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  justify-content: center;
  margin-top: 750px;
  margin-left: 793px;
  width: 370px;
  animation: title4 5s ease-in;
}

@keyframes title4{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-content2{
  position: absolute;
}

.heading-para4{
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-left: 150px;
  margin-top: 1000px;
  white-space: nowrap;
  animation: heading7 5s ease-in;
}

@keyframes heading7{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.heading-title4{
  position: absolute;
  display: block;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  justify-content: center;
  margin-left: 150px;
  margin-top: 1030px;
  width: 350px;
  animation: title5 5s ease-in;
}

@keyframes title5{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-content2 img{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  object-fit: contain;
  width: 550px;
  height: 500px;
  margin-left: 700px;
  margin-top: 792px;
  animation: img4 5s ease-in;
}

@keyframes img4{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-main-8{
  position: relative;
}

.header-images3{
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 5vh;
  background-color: #fff;
  margin-top: 5205px;
}

.header-images3 img{
  position: relative;
  width: 90%;
  height: 100vh;
  object-fit: contain;
  margin-left: -160px;
  margin-top: -444px;
  animation: img5 5s ease-in;
}

@keyframes img5{
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-content3{
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 5200px;
  margin-left: 100px;
}

.header-content3 h4{
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-top: 37px;
  animation: heading8 5s ease-in;
}

@keyframes heading8{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-content3 small{
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
  width: 250px;
  margin-left: -40px;
  margin-top: 90px;
  animation: title6 5s ease-in;
}

@keyframes title6{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-content4{
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 5200px;
  margin-left: 390px;
}

.header-content4 h4{
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-top: 37px;
  margin-left: 30px;
  white-space: nowrap;
  animation: heading9 5s ease-in;
}

@keyframes heading9{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-content4 small{
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
  width: 350px;
  margin-left: -90px;
  margin-top: 90px;
  animation: title7 5s ease-in;
}

@keyframes title7{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}


.header-content5{
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 5200px;
  margin-left: 700px;
}

.header-content5 h4{
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-top: 37px;
  margin-left: -20px;
  white-space: nowrap;
  animation: heading10 5s ease-in;
}

@keyframes heading10{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-content5 small{
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
  width: 250px;
  margin-left: -60px;
  margin-top: 90px;
  animation: title7 5s ease-in;
}

@keyframes title7{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-info2{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4810px;
  margin-left: 840px;
}

.heading-para6{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 600;
  color: gray;
  margin-top: -30px;
  margin-left: 350px;
}

.heading-title6{
  position: absolute;
  z-index: 100;
  font-size: 30px;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 480px;
  white-space: nowrap;
  color: black;
}

.heading-text1{
  position: absolute;
  z-index: 100;
  font-size: 12px;
  font-weight: 600;
  margin-top: 170px;
  margin-left: 600px;
  width: 300px;
  color: gray;
  animation: text1 5s ease-in;
}

@keyframes text1{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-info2 a{
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  text-underline-position: center;
  color: gray;
}

.header-info2 a:hover{
  text-decoration-thickness: 3px;
}

.header-order5{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 990px;
  margin-left: 550px;
  white-space: nowrap;
  z-index: 100;
}

.header-order5:hover{
  background-color: black;
}

.header-order5 span{
  border: 3px solid #000;
  outline: none;
  z-index: 100;
  background-color: transparent;
  font-size: 16px;
  color: black;
  font-weight: 600;
  padding: 8px 55px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  animation: shown2 3s ease-in;
}

.header-order5 span:hover{
  color: white;
}

@keyframes shown2{
  0%{
    transform: translateY(80px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-main-9{
  position: relative;
}

.header-content6{
  position: absolute;
  width: 100%;
  height: 100vh;
  margin-top: 5500px;
}

.heading-para7{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 600;
  color: gray;
  margin-top: 20px;
  margin-left: 50px;
}

.heading-title7{
  position: absolute;
  z-index: 100;
  font-size: 30px;
  font-weight: 600;
  margin-top: 50px;
  margin-left: 50px;
}

.heading-text2{
  position: absolute;
  font-size: 15px;
  font-weight: 400;
  margin-top: 110px;
  margin-left: 50px;
  width: 300px;
  color: #111;
  animation: text2 5s ease-in;
}

@keyframes text2{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-content6 img{
  position: absolute;
  width: 100%;
  height: 90vh;
  object-fit: contain;
  margin-left: 200px;
  animation: imgs5 5s ease-in;
}

@keyframes imgs5{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.circle1{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: white;
  margin-top: 300px;
  margin-left: 600px;
  border: 2px solid black;
  animation: ball 5s ease-in;
}

@keyframes ball{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.line1{
  position: absolute;
  height: 30%;
  width: 3px;
  background-color: black;
  margin-top: 115px;
  margin-left: 604px;
  animation: line 5s ease-in;
}

@keyframes line{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.para7{
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  margin-left: 610px;
  margin-top: 110px;
  animation: para5 5s ease-in;
}

@keyframes para5{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.circle2{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: white;
  margin-top: 150px;
  margin-left: 820px;
  border: 2px solid black;
  animation: ball1 5s ease-in;
}

@keyframes ball1{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.line2{
  position: absolute;
  height: 20%;
  width: 3px;
  background-color: black;
  margin-top: 25px;
  margin-left: 823px;
  animation: line1 5s ease-in;
}

@keyframes line1{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.para8{
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  margin-left: 829px;
  margin-top: 25px;
  animation: para6 5s ease-in;
}

@keyframes para6{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.circle3{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: white;
  margin-top: 340px;
  margin-left: 870px;
  border: 2px solid black;
  animation: ball2 5s ease-in;
}

@keyframes ball2{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.line3{
  position: absolute;
  height: 20%;
  width: 3px;
  background-color: black;
  margin-top: 350px;
  margin-left: 873px;
  animation: line2 5s ease-in;
}

@keyframes line2{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.para9{
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  margin-left: 879px;
  margin-top: 460px;
  animation: para7 5s ease-in;
}

@keyframes para7{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-order6{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 500px;
  margin-left: 50px;
  z-index: 100;
}

.header-order6:hover{
  background-color: black;
}

.header-order6 span{
  border: 3px solid #000;
  outline: none;
  z-index: 100;
  background-color: transparent;
  font-size: 16px;
  color: black;
  font-weight: 600;
  padding: 8px 55px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  animation: shown3 3s ease-in;
}

.header-order6 span:hover{
  color: white;
}

.header-main-10{
  position: relative;
}

.header-backgroundimg3{
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 130vh;
  background-color: black;
  color: white;
  margin-top: 6100px;
}

.header-backgroundimg3 img{
  position: absolute;
  width: 500px;
  height: 500px;
  object-fit: contain;
  margin-top: 150px;
  animation: imgs6 5s ease-in;
}

@keyframes imgs6{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-title3{
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6150px;
}

.header-title3 span{
  font-size: 30px;
  font-weight: 400;
  color: white;
  margin-top: 60px;
  margin-left: 750px;
}

.header-panelbtn{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  border: 3px solid gray;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 50px;
  border-radius: 5px;
  margin-top: 200px;
  margin-left: 770px;
  white-space: nowrap;
  cursor: pointer;
}

.header-panel-btn--active{
  border: 3px solid white;
}

.header-panelbtn:hover{
  border: 3px solid white;
}

.header-panelbtn1{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  border: 3px solid gray;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 80px;
  border-radius: 5px;
  margin-top: 200px;
  margin-left: 1240px;
  white-space: nowrap;
  cursor: pointer;
}

.header-panelbtn1:hover{
  border: 3px solid white;
}

.header-tab-panels{
  inline-size: 100%;
}

.panels-tabs{
  min-height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  outline: none;
}

.panel-items{
  display: flex;
  align-items: flex-start;
}

.panel-item{
  padding-right: 25px;
}

.panel-item-1{
  padding-right: 25px;
}

.panel-lists-small-border{
  line-height: 20px;
}

.panel-lists-small-border-1{
  line-height: 20px;
}

.panel-lists-small-border .panel-list-line1::before{
  content: '';
  position: absolute;
  z-index: 100;
  width: 5%;
  height: 2px;
  background-color: gray;
  margin-top: 6350px;
  margin-left: 750px;
}

.panel-lists-small-border .panel-list-line1 strong{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 6360px;
  margin-left: 750px;
}

.spectifications-items1{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: lightgray;
  margin-top: 6380px;
  margin-left: 750px;
}

.panel-lists-small-border .panel-list-line2::before{
  content: '';
  position: absolute;
  z-index: 100;
  width: 5%;
  height: 2px;
  background-color: gray;
  margin-top: 6420px;
  margin-left: 750px;
}

.panel-lists-small-border .panel-list-line2 strong{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 6440px;
  margin-left: 750px;
}

.spectifications-items2{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: lightgray;
  margin-top: 6460px;
  margin-left: 750px;
}

.panel-lists-small-border .panel-list-line3::before{
  content: '';
  position: absolute;
  z-index: 100;
  width: 5%;
  height: 2px;
  background-color: gray;
  margin-top: 6500px;
  margin-left: 750px;
}

.panel-lists-small-border .panel-list-line3 strong{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 6510px;
  margin-left: 750px;
}

.spectifications-items3{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: lightgray;
  margin-top: 6530px;
  margin-left: 750px;
}

.panel-lists-small-border .panel-list-line4::before{
  content: '';
  position: absolute;
  z-index: 100;
  width: 5%;
  height: 2px;
  background-color: gray;
  margin-top: 6570px;
  margin-left: 750px;
}

.panel-lists-small-border .panel-list-line4 strong{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 6580px;
  margin-left: 750px;
}

.spectifications-items4{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: lightgray;
  margin-top: 6600px;
  margin-left: 750px;
}

.panel-lists-small-border .panel-list-line5::before{
  content: '';
  position: absolute;
  z-index: 100;
  width: 5%;
  height: 2px;
  background-color: gray;
  margin-top: 6640px;
  margin-left: 750px;
}

.panel-lists-small-border .panel-list-line5 strong{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 6650px;
  margin-left: 750px;
}

.spectifications-items5{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: lightgray;
  margin-top: 6670px;
  margin-left: 750px;
}

.panel-lists-small-border .panel-list-line6::before{
  content: '';
  position: absolute;
  z-index: 100;
  width: 5%;
  height: 2px;
  background-color: gray;
  margin-top: 6720px;
  margin-left: 750px;
}

.panel-lists-small-border .panel-list-line6 strong{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 6730px;
  margin-left: 750px;
}

.spectifications-items6{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: lightgray;
  margin-top: 6750px;
  margin-left: 750px;
}

.panel-lists-small-border-1 .panel-list-line7::before{
  content: '';
  position: absolute;
  z-index: 100;
  width: 5%;
  height: 2px;
  background-color: gray;
  margin-top: 6350px;
  margin-left: 950px;
  
}

.panel-lists-small-border-1 .panel-list-line7 strong{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 6360px;
  margin-left: 950px;
}

.spectifications-items7{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: lightgray;
  margin-top: 6380px;
  margin-left: 950px;
  width: 160px;
}

.panel-lists-small-border-1 .panel-list-line8::before{
  content: '';
  position: absolute;
  z-index: 100;
  width: 5%;
  height: 2px;
  background-color: gray;
  margin-top: 6440px;
  margin-left: 950px;
}

.panel-lists-small-border-1 .panel-list-line8 strong{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 6450px;
  margin-left: 950px;
}

.spectifications-items8{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: lightgray;
  margin-top: 6470px;
  margin-left: 950px;
  width: 220px;
}

.panel-lists-small-border-1 .panel-list-line9::before{
  content: '';
  position: absolute;
  z-index: 100;
  width: 5%;
  height: 2px;
  background-color: gray;
  margin-top: 6520px;
  margin-left: 950px;
}

.panel-lists-small-border-1 .panel-list-line9 strong{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 6530px;
  margin-left: 950px;
}

.spectifications-items9{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: lightgray;
  margin-top: 6550px;
  margin-left: 950px;
  width: 220px;
}

.panel-lists-small-border-1 .panel-list-line10::before{
  content: '';
  position: absolute;
  z-index: 100;
  width: 5%;
  height: 2px;
  background-color: gray;
  margin-top: 6590px;
  margin-left: 950px;
}

.panel-lists-small-border-1 .panel-list-line10 strong{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 6610px;
  margin-left: 950px;
}

.spectifications-items10{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: lightgray;
  margin-top: 6630px;
  margin-left: 950px;
}

.panel-lists-small-border-1 .panel-list-line11::before{
  content: '';
  position: absolute;
  z-index: 100;
  width: 5%;
  height: 2px;
  background-color: gray;
  margin-top: 6670px;
  margin-left: 950px;
}

.panel-lists-small-border-1 .panel-list-line11 strong{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 6680px;
  margin-left: 950px;
}

.spectifications-items11{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: lightgray;
  margin-top: 6700px;
  margin-left: 950px;
}

.panel-lists-small-border-1 .panel-list-line12::before{
  content: '';
  position: absolute;
  z-index: 100;
  width: 5%;
  height: 2px;
  background-color: gray;
  margin-top: 6740px;
  margin-left: 950px;
}

.panel-lists-small-border-1 .panel-list-line12 strong{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 6750px;
  margin-left: 950px;
}

.spectifications-items11{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: lightgray;
  margin-top: 6770px;
  margin-left: 950px;
}

.panel-lists-small-border-1 .panel-list-line12::before{
  content: '';
  position: absolute;
  z-index: 100;
  width: 5%;
  height: 2px;
  background-color: gray;
  margin-top: 3470px;
  margin-left: 950px;
}

.panel-lists-small-border-1 .panel-list-line12 strong{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 6750px;
  margin-left: 950px;
}

.spectifications-items12{
  position: absolute;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: lightgray;
  margin-top: 6770px;
  margin-left: 950px;
}

.header-main-11{
  position: relative;
}

.header-title4{
  position: relative;
  z-index: 100;
  width: 100%;
  height: 50vh;
  margin-top: 7150px;
}

.header-title4 span{
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin-left: 150px;
  margin-top: -100px;
}

.header-orderbtn1{
  position: absolute;
  z-index: 100;
  border: none;
  outline: none;
  margin-top: -50px;
  margin-left: 150px;
  background-color: transparent;
  border: 3px solid black;
  color: black;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
}

.header-orderbtn1:hover{
  background-color: black;
  color: white;
}

.header-comparebtn1{
  position: absolute;
  z-index: 100;
  border: none;
  outline: none;
  margin-top: -50px;
  margin-left: 350px;
  background-color: transparent;
  border: 3px solid black;
  color: black;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
}

.header-comparebtn1:hover{
  background-color: black;
  color: white;
}

.header-bgimages{
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 50vh;
  object-fit: contain;
  margin-top: -180px;
  margin-left: 400px;
  background-color: transparent;
}

/* footer */
.footer{
  position: absolute;
  width: 100%;
  height: 10vh;
  margin-top: -100px;
  margin-left: 200px;
}

.footer-links li{
  display: inline-block;
  margin-left: 20px;
  margin: 0 10px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 600;
  color: gray;
  cursor: pointer;
}